#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 117px 1fr;
}

.central-section {
  padding: 6.6vh 0 0 7.5vw;
  max-height: calc(93.4vh - 91px);
  max-width: calc(92.5vw - 117px);
}

